html {
  background-color: $silver;
}

body {
  width: 320px;

  background-color: $white;

  @media #{$tablet} {
    width: 768px;
  }

  @media #{$desktop} {
    width: 1150px;
  }
}

body, blockquote, fieldset, figure, h1, h2, h3, hr, p, ul, li {
  margin: 0;
}

fieldset {
  padding: 0;

  border: none;
}
