body, blockquote, fieldset, figure, h1, h2, h3, hr, p, ul, li {
  margin: 0;
}

fieldset {
  padding: 0;

  border: none;
}

html {
  background-color: $silver;

  min-height: 100%;
}

body {
  width: 320px;
  min-height: 100%;

  background-color: $white;

  font-size: 0;

  @media #{$tablet} {
    width: 768px;
  }

  @media #{$desktop} {
    width: 1150px;
    margin: 0 auto;
  }
}
