// Пока непонятно, какое из двух решений лучше
// font: $font-weight #{$font-size}/#{$line-height} $font-stack;

@mixin font($font-size, $line-height, $font-weight: normal)  {
  font-size: #{$font-size};
  line-height: #{$line-height};

  @if $font-weight == "bold" {
    font-weight: $font-weight;
  }
}

@mixin icon($width, $height, $url) {
  position: absolute;
  top: 50%;
  left: 50%;

  width: $width;
  height: $height;

  content: "";
  transform: translate(-50%, -50%);

  background-image: url($url);
}
