$font-stack: "Open Sans", Tahoma, sans-serif;

// Значения экранов для медиа-запросов

$tablet: "(min-width: 768px) and (max-width: 1149px)";
$desktop: "(min-width: 1150px)";

// Таблица используемых цветов http://chir.ag/projects/name-that-color

$alabaster: #f9f9f9;
$black: #000000;
$downy: #63d1bb;
$fountain-blue: #56c3b2;
$gallery: #ececec;
$gray: #8d8d8d;
$keppel: #35a999;
$mine-shaft: #221f1f;
$monte-carlo: #8dd5c9;
$morning-glory: #97e2d2;
$puerto-rico: #46c1ae;
$seashell: #f1f1f1;
$silver-chalice: #b2b2b2;
$silver: #cccccc;
$tundora: #444444;
$white: #ffffff;
