$font-stack: "Open Sans", Tahoma, sans-serif;

$black: #000000;
$downy: #63d1bb;
$fountain-blue: #56c3b2;
$gallery: #ececec;
$gray: #8d8d8d;
$keppel: #35a999;
$mine-shaft: #221f1f;
$monte-carlo: #8dd5c9;
$morning-glory: #97e2d2;
$puerto-rico: #46c1ae;
$silver-chalice: #b2b2b2;
$silver: #cccccc;
$tundora: #444444;
$white: #ffffff;
