.about {
  padding: 0 30px;
}

.about__title {
  margin-top: 27px;
  margin-bottom: 3px;

  @include font(25px, 30px, bold);
}

.about__list {
  margin-bottom: 51px;
  padding: 0;

  list-style: none;

  @include font(17px, 20px, bold);
}

.about__item {
  position: relative;

  display: block;

  padding-top: 83px;
}

@media #{$tablet} {
  .about {
    padding: 0 50px;
  }

  .about__title {
    margin-top: 49px;

    @include font(43px, 50px, bold);
  }

  .about__list {
    font-size: 0;
  }

  .about__item {
    display: inline-block;

    width: 334px;

    vertical-align: baseline;

    @include font(20px, 24px, bold);
  }
}

@media #{$desktop} {
  .about {
    padding: 0 225px;
  }

  .about__title {
    margin-top: 59px;
    @include font(53px, 57px, bold);
  }

  .about__list {
    font-size: 0;
  }

  .about__item {
    display: inline-block;

    width: 350px;

    vertical-align: baseline;

    @include font(20px, 24px, bold);
  }
}
