.btn {
  display: block;

  box-sizing: border-box;
  width: 100%;
  padding: 16px 0;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: $tundora;
  border: 2px solid $tundora;
  outline: none;
  background-color: transparent;

  @include font(17px, 16px, bold);

  &--fill {
    color: $white;
    border-color: $downy;
    background-color: $downy;
  }

  @media #{$desktop} {
    &:hover {
      color: $white;
      background-color: $tundora;
    }
  }

  &:active {
    color: rgba($white, 0.3);
  }
}
