.btn {
  box-sizing: border-box;
  display: block;

  width: 100%;
  padding: 16px 0;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: $tundora;
  border: 2px solid $tundora;
  background-color: transparent;

  @include font(17px, 16px, bold);

  @media #{$desktop} {
    &:hover {
      color: $white;
      background-color: $tundora;
    }
  }
}
