.caption {
  position: relative;

  min-height: 176px;

  background-color: $seashell;

  @media #{$tablet-and-desktop} {
    &::after {
      position: absolute;
      z-index: 50;
      bottom: 0;
      left: 0;

      width: 1150px;
      height: 34px;

      content: "";

      background: url("../img/bg-zigzag-fill.svg");
    }
  }

  @media #{$tablet} {
    min-height: 165px;

    &::after {
      width: 768px;
      height: 22px;

      background-size: contain;
    }
  }

  @media #{$desktop} {
    min-height: 193px;

    &::after {
      width: 1150px;
      height: 34px;
    }
  }
}

.caption__title {
  width: 250px;
  margin: auto;

  padding-top: 68px;

  text-align: center;

  @include font(27px, 30px, bold);

  @media #{$tablet} {
    width: 450px;

    @include font(43px, 50px, bold);
  }

  @media #{$desktop} {
    width: 650px;

    @include font(53px, 57px, bold);
  }

  @media #{$tablet-and-desktop} {
    padding-top: 36px;
  }
}
