.caption {
  min-height: 176px;

  background-color: $seashell;

  @media #{$tablet} {

    // 223 - 58 = 165
    min-height: 165px;
  }

  @media #{$desktop} {
    // 251 - 58 = 193
    min-height: 193px;
  }
}

.caption__title {
  width: 250px;
  margin: auto;

  padding-top: 68px;

  text-align: center;

  @include font(27px, 30px, bold);

  @media #{$tablet} {
    width: 450px;

    @include font(43px, 50px, bold);
  }

  @media #{$desktop} {
    width: 650px;

    @include font(53px, 57px, bold);
  }

  @media #{$tablet-and-desktop} {
    // 94 - 58 = 36
    padding-top: 36px;
  }
}
