.catalog {
  display: flex;
  flex-direction: column;

  @media #{$tablet-and-desktop} {
    flex-direction: row;

    padding: 0 50px;

    background-color: $alabaster;
  }

  @media #{$desktop} {
    position: relative;
    bottom: 5px;

    min-height: 124px;

    align-items: flex-end;
  }
}

.catalog__block {
  min-height: 103px;

  &--interior {
    background-color: $downy;
  }

  &--toy {
    background-color: $fountain-blue;
  }

  @media #{$tablet} {
    width: 334px;
  }

  @media #{$desktop} {
    width: 525px;

    &:hover {
      min-height: 124px;
    }

    &--interior {
      &:hover {
        background-color: $fountain-blue;
      }
    }

    &--toy {
      &:hover {
        background-color: $puerto-rico;
      }
    }
  }

  @media #{$tablet-and-desktop} {
    min-height: 119px;
  }
}

.catalog__icon {
  position: absolute;
  top: 50%;
  right: 36px;

  width: 41px;
  height: 62px;

  transform: translateY(-50%);

  fill: $keppel;
}

.catalog__link {
  position: relative;

  display: block;

  box-sizing: border-box;
  min-height: inherit;
  padding: 30px;

  text-decoration: none;

  color: $white;

  @include font(19px, 24px, bold);
}
