.catalog {
  @media #{$desktop} {
    position: relative;

    display: flex;

    background: $alabaster;

    &::after {
      position: absolute;
      z-index: 50;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 34px;

      content: "";

      background: url("../img/bg-zigzag-fill.svg") repeat-x;
    }
  }
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;

  @media #{$tablet-and-desktop} {
    position: relative;

    flex-direction: row;

    padding: 0 50px;

    background-color: $alabaster;
  }

  @media #{$tablet} {
    &::after {
      position: absolute;
      z-index: 50;
      bottom: 0;
      left: 0;

      width: 768px;
      height: 22px;

      content: "";

      background: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
    }
  }

  @media #{$desktop} {
    bottom: 5px;

    min-height: 124px;

    align-items: flex-end;

    &::after {
      width: 1150px;
      height: 34px;
    }
  }
}

.catalog__block {
  position: relative;
  z-index: 15;

  min-height: 103px;

  &--interior {
    background-color: $downy;
  }

  &--toy {
    background-color: $fountain-blue;
  }

  .catalog__link:active {
    color: rgba($white, 0.3);

    .catalog__icon {
      opacity: 0.3;
    }
  }

  @media #{$tablet} {
    width: 334px;
  }

  @media #{$desktop} {
    width: 525px;

    &:hover {
      min-height: 124px;
    }

    &--interior {
      &:hover {
        background-color: $viking;
      }
    }

    &--toy {
      &:hover {
        background-color: $puerto-rico;
      }
    }
  }

  @media #{$tablet-and-desktop} {
    min-height: 119px;
  }
}

.catalog__icon {
  position: absolute;
  top: 50%;
  right: 36px;

  width: 41px;
  height: 62px;

  transform: translateY(-50%);

  fill: $keppel;
}

.catalog__link {
  position: relative;

  display: block;

  box-sizing: border-box;
  min-height: inherit;
  padding: 30px;

  text-decoration: none;

  color: $white;

  @include font(19px, 24px, bold);
}
