.contacts {
  display: flex;
  flex-direction: column;

  padding: 0 30px;

  @media #{$tablet} {
    padding: 0 50px;
  }

  @media #{$desktop} {
    position: relative;

    padding: 0 50px;
    padding-left: 225px;

    flex-flow: row wrap;
  }
}

.contacts__title {
  margin-top: 35px;
  margin-bottom: 25px;

  position: relative;

  @include font(18px, 30px, bold);

  @media #{$tablet-and-desktop} {
    &::before {
      position: absolute;
      top: 50%;

      width: 47px;
      height: 81px;

      content: "";

      transform: translateY(-50%);

      background: url("../img/icon-flag.svg");
    }
  }

  @media #{$tablet} {
    margin-top: 61px;

    @include font(43px, 50px, bold);

    &::before {
      right: 0;
    }
  }

  @media #{$desktop} {
    width: 350px;
    margin-top: 140px;
    margin-bottom: 47px;

    word-break: break-all;

    @include font(53px, 57px, bold);

    &::before {
      left: -112px;
    }
  }
}

.contacts__table {
  width: 260px;
  margin-bottom: 28px;

  color: $tundora;
  border-collapse: collapse;

  @include font(15px, 30px);

  @media #{$tablet} {
    width: 668px;
  }

  @media #{$desktop} {
    margin-bottom: 68px;
    padding-bottom: 103px;
  }
}

.contacts__cell {
  width: 150px;

  &--left {
    width: 78px;
    height: 58px;

    text-transform: lowercase;
  }

  @media #{$tablet} {
    &:last-of-type {
      width: 200px;
    }
  }

  @media #{$tablet-and-desktop} {
    display: inline-block;

    vertical-align: top;
  }
}

.contacts__row {
  @media #{$tablet} {
    display: inline-block;

    width: 334px;

    vertical-align: top;
  }
}

.contacts__email {
  padding-bottom: 4px;

  text-decoration: none;

  color: $tundora;
  border-bottom: 1px solid $downy;

  @media #{$desktop} {
    &:hover {
      color: $downy;
    }

    &:active {
      color: $morning-glory;
      border-color: $morning-glory;
    }
  }
}

.contacts__img {
  position: relative;

  width: 320px;
  height: 457px;

  background: $seashell;

  @media #{$tablet} {
    width: 768px;
    height: 457px;
  }

  @media #{$desktop} {
    right: 0;

    width: 525px;
    height: 457px;
  }
}

.contacts__map {
  position: relative;

  right: 30px;

  width: 320px;
  height: 457px;
  margin-bottom: 39px;

  &--js {
    &::after {
      display: none;
    }
  }

  &::after {
    position: absolute;
    top: 168px;
    left: 118px;

    width: 67px;
    height: 100px;

    content: "";

    background-image: url("../img/icon-map-pin.svg");
  }

  @media #{$tablet} {
    right: 50px;

    width: 768px;
    height: 457px;
    margin-bottom: 55px;

    &::after {
      top: 168px;
      left: 342px;
    }
  }

  @media #{$desktop} {
    width: 525px;
    height: 457px;
    margin-top: 70px;
    margin-bottom: 105px;

    &::after {
      top: 168px;
      left: 236px;
    }
  }
}

.contacts__wrapper {
  @media #{$desktop} {
    display: flex;
    flex-direction: column;

    width: 350px;
  }
}

.contacts__btn {
  margin-bottom: 39px;

  @media #{$tablet} {
    margin: auto;
    margin-bottom: 57px;
  }

  @media #{$desktop} {
    position: absolute;
    bottom: 105px;
    left: 225px;

    margin: 0;
  }

  @media #{$tablet-and-desktop} {
    width: 230px;
  }
}
