.container {
  box-sizing: border-box;
  width: 320px;
  margin: auto;

  font-size: 0;

  &--footer {
    display: flex;
    flex-direction: column;

    background-color: $seashell;

    @media #{$tablet-and-desktop} {
      flex-direction: row;
    }
  }

  @media #{$tablet} {
    width: 768px;
  }

  @media #{$desktop} {
    width: 1150px;
  }
}
