.copyright {
  min-height: 79px;

  text-align: center;

  background-color: $seashell;

  @media #{$tablet} {
    width: 265px;
  }

  @media #{$desktop} {
    width: 457px;
  }

  @media #{$tablet-and-desktop} {
    min-height: 143px;
    padding-right: 50px;

    text-align: right;
  }
}

.copyright__text {
  position: relative;

  display: inline-block;

  margin-top: 28px;
  padding-right: 56px;

  vertical-align: top;

  @include font(19px, 18px, bold);

  @media #{$tablet-and-desktop} {
    margin-top: 56px;
  }
}

.copyright__icon-htmlacademy {
  position: absolute;
  top: 50%;
  right: 0;

  width: 27px;
  height: 34px;

  transform: translateY(-50%);

  fill: $downy;
}

.copyright__link {
  text-decoration: none;

  color: $black;

  font-size: 0;

  @media #{$desktop} {
    &:hover .copyright__icon-htmlacademy {
      fill: $puerto-rico;
    }
  }

  &:active .copyright__icon-htmlacademy {
    fill: rgba($puerto-rico, 0.3);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}
