// Меню, наверное, надо переделывать. При добавлении новых пунктов оно разъезжается

.menu {
  position: relative;

  box-sizing: border-box;
  width: 320px;
  min-height: 80px;

  border-bottom: 1px solid $gallery;
}

.menu__logo {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.menu__toggle {
  position: absolute;
  top: 50%;
  right: 30px;

  box-sizing: border-box;
  width: 20px;
  height: 14px;

  cursor: pointer;
  transform: translateY(-50%);

  font-size: 0;

  background-image: url("../img/icon-menu-open.svg");

  &--close {
    width: 21px;
    height: 20px;

    background-image: url("../img/icon-menu-close.svg");
  }
}

.menu__list {
  position: absolute;
  z-index: 10;
  top: 80px;

  display: flex;
  flex-direction: column;

  padding: 0;

  list-style: none;

  background-color: $white;

  &--hidden {
    display: none;
  }
}

.menu__item {
  border-bottom: 1px solid $gallery;

  &--more {
    display: none;
  }
}

.menu__link {
  box-sizing: border-box;
  display: block;

  width: 320px;
  padding: 27px 65px;

  text-decoration: none;

  color: $black;

  @include font(17px, 24px, bold);
}

@media #{$tablet} {
  .menu {
    width: 768px;
    min-height: 88px;
  }

  .menu__logo {
    position: absolute;
    top: 50%;
    left: 50px;

    transform: translateY(-50%);
  }

  .menu__toggle {
    display: none;
  }

  .menu__list {
    position: absolute;
    top: 0;

    display: flex;

    padding: 0 50px;

    background-color: transparent;

    flex-flow: row wrap;
  }

  .menu__item {
    width: 167px;
    border: none;

    @include font(15px, 24px, bold);

    &--search {
      position: relative;

      box-sizing: border-box;
      width: 83px;
      min-height: 87px;
      margin-left: 270px;

      border: 1px solid $gallery;
      border-top: none;
      border-right: none;
      background-color: $white;

      order: -2;

      // background: url("../img/icon-search.svg") 50% 36px no-repeat;
    }

    &--search > .menu__link {
      font-size: 0;

      &::before {
        position: absolute;
        top: 36px;
        left: 50%;

        width: 18px;
        height: 18px;

        content: "";
        transform: translateX(-50%);

        background-color: $silver;
        mask-image: url("../img/icon-search.svg");
      }
    }

    &--cart {
      box-sizing: border-box;
      width: 314px;
      min-height: 87px;

      text-align: right;

      border: 1px solid $gallery;
      border-top: none;
      border-right: none;
      background-color: $white;

      order: -1;
    }
  }

  .menu__link, .menu__text {
    padding: 31px 0 23px;
  }

  .menu__link {
    width: inherit;
    min-height: inherit;
  }

  .menu__text {
    width: 334px;
    margin-left: auto;

    text-align: right;

    @include font(15px, 24px);
  }
}

@media #{$desktop} {
  .menu {
    width: 1150px;
    min-height: 88px;
  }

  .menu__toggle {
    display: none;
  }

  .menu__list {
    position: absolute;
    top: 0;

    display: flex;

    padding: 0 50px;

    background-color: transparent;

    flex-flow: row wrap;
  }

  .menu__item {
    width: 220px;

    border: none;

    &--catalog {
      box-sizing: border-box;

      width: 185px;
      border: 1px solid $gallery;
      border-top: none;
      border-left: none;
    }

    &--form {
      box-sizing: border-box;
      width: 235px;
    }

    &--form > .menu__link {
      padding-left: 35px;
    }

    &--search {
      position: relative;

      box-sizing: border-box;
      width: 83px;
      min-height: 87px;
      margin-left: 270px;

      border: 1px solid $gallery;
      border-top: none;
      border-right: none;
      background-color: $white;
    }

    &--search > .menu__link {
      font-size: 0;

      &::before {
        position: absolute;
        top: 36px;
        left: 50%;

        width: 18px;
        height: 18px;

        content: "";
        transform: translateX(-50%);

        background-color: $silver;
        mask-image: url("../img/icon-search.svg");
      }
    }

    &--cart {
      box-sizing: border-box;
      width: 266px;
      min-height: 87px;

      text-align: right;

      border: 1px solid $gallery;
      border-top: none;
      border-right: none;
      background-color: $white;
    }

    &--more {
      display: flex;
    }

    &--more > .menu__link {
      @include font(15px, 24px, bold);
    }
  }

  .menu__link, .menu__text {
    padding: 31px 0 32px;
  }

  .menu__link {
    width: inherit;
    min-height: inherit;

    @include font(17px, 24px, bold);
  }

  .menu__text {
    width: 334px;
    margin-left: auto;

    text-align: right;

    @include font(15px, 24px);
  }
}
