.menu {
  position: relative;

  box-sizing: border-box;
  width: 320px;
  min-height: 80px;

  border-bottom: 1px solid $gallery;
}

.menu__logo {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.menu__toggle {
  position: absolute;
  top: 50%;
  right: 20px;

  box-sizing: border-box;
  width: 20px;
  height: 14px;

  cursor: pointer;
  transform: translateY(-50%);

  background-image: url("../img/icon-menu-open.svg");

  font-size: 0;
}

.menu__list {
  position: absolute;
  z-index: 10;
  top: 80px;

  padding: 0;

  list-style: none;

  background-color: $white;

  &--hidden {
    display: none;
  }
}

.menu__item {
  border-bottom: 1px solid $gallery;
}

.menu__link {
  box-sizing: border-box;
  display: block;

  width: 320px;
  padding: 27px 65px;

  text-decoration: none;

  color: $black;

  @include font(17px, 24px, bold);
}

@media #{$tablet} {
  .menu {
    width: 768px;
    min-height: 88px;
  }

  .menu__logo {
    position: absolute;
    top: 50%;
    left: 50px;

    transform: translateY(-50%);
  }

  .menu__toggle {
    display: none;
  }
}

@media #{$desktop} {
  .menu {
    width: 1150px;
    min-height: 88px;
  }

  .menu__toggle {
    display: none;
  }
}
