.modal-cart {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;

  display: none;

  transform: translate(-50%, -50%);

  &--visible {
    display: block;
  }

  @media #{$tablet-and-desktop} {
    box-shadow: 0 5px 15px 0 rgba($black, 0.2);
  }
}

.modal-cart__wrapper {
  width: 260px;
  padding: 0 30px;

  border-top: 1px solid $silver;
  background-color: $white;

  @media #{$tablet-and-desktop} {
    width: 350px;
    height: 302px;
    padding: 34px 108px 0;

    text-align: center;

    border: 1px solid $silver;
  }
}

.modal-cart__shadow {
  width: 320px;
  height: 20px;

  box-shadow: inset 0 15px 30px -20px rgba($black, 0.6);

  @media #{$tablet-and-desktop} {
    display: none;
  }
}

.modal-cart__title {
  width: 150px;
  margin: 41px auto 12px;

  text-transform: uppercase;

  @include font(25px, 30px, bold);

  @media #{$tablet-and-desktop} {
    width: 355px;
    margin: 0;

    @include font(30px, 57px, bold);
  }
}

.modal-cart__size {
  font-size: 0;
}

.modal-cart__legend {
  margin-bottom: 23px;

  text-align: center;

  color: $tundora;

  @include font(15px, 30px, normal);

  @media #{$tablet-and-desktop} {
    @include font(17px, 30px, normal);
  }
}

.modal-cart__label {
  display: inline-block;

  width: 78px;
  height: 32px;
  margin-right: 7px;
  margin-bottom: 31px;
  padding-top: 16px;

  cursor: pointer;
  user-select: none;
  text-align: center;

  color: $tundora;
  border: 2px solid $gallery;

  @include font(17px, 16px, bold);

  &--last {
    margin-right: 0;
  }

  @media #{$tablet-and-desktop} {
    width: 108px;
    height: 32px;
  }
}

.modal-cart__checkbox:checked + .modal-cart__label {
  border-color: $downy;
}

.modal-cart__btn {
  margin-bottom: 30px;
}
