.order {
  display: flex;
  flex-direction: column;

  padding: 0 30px;

  @media #{$tablet-and-desktop} {
    position: relative;

    padding: 0;
  }
}

.order__desc {
  margin-top: 30px;
  margin-bottom: 30px;

  color: $tundora;

  @include font(13px, 24px);

  @media #{$tablet} {
    padding: 0 50px;
  }

  @media #{$desktop} {
    margin-top: 124px;
    margin-bottom: 24px;
    padding: 0 225px;
  }

  @media #{$tablet-and-desktop} {
    @include font(17px, 30px);
  }
}

.order__title {
  margin-bottom: 33px;

  text-transform: uppercase;

  color: $downy;

  @include font(17px, 16px, bold);

  &::after {
    position: relative;
    top: -9px;
    left: 60px;

    display: block;

    width: 198px;

    content: "";

    border-bottom: 1px solid $downy;
  }

  @media #{$tablet} {
    left: 50px;
  }

  @media #{$desktop} {
    left: 110px;
  }

  @media #{$tablet-and-desktop} {
    position: absolute;

    margin-top: 19px;

    &::after {
      display: none;
    }
  }
}

.order__subtitle {
  @include font(17px, 18px, bold);
}

.order__input {
  display: block;

  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  margin-bottom: 32px;

  border: none;
  border-bottom: 2px solid $black;
  outline: none;

  font-weight: normal;

  @include font(17px, 18px);

  @media #{$desktop} {
    margin-bottom: 26px;
    padding-left: 18px;

    &--tel {
      margin-bottom: 0;
    }

    &:hover {
      border-color: $downy;
    }

    &:hover + .order__icon-phone {
      fill: $downy;
    }

    &:hover + .order__icon-mail {
      fill: $downy;
    }
  }

  @media #{$tablet-and-desktop} {
    margin-bottom: 26px;
    padding-left: 18px;

    @include font(19px, 18px);

    &:active {
      border-color: $downy;
    }
  }

  &:focus {
    border-color: $downy;
  }

  &:focus + .order__icon-phone {
    fill: $downy;
  }

  &:focus + .order__icon-mail {
    fill: $downy;
  }
}

.order__text {
  box-sizing: border-box;
  width: 100%;
  min-height: 142px;
  margin-bottom: 19px;
  padding: 17px;

  border: 2px solid $tundora;
  outline: none;

  @include font(17px, 18px);

  @media #{$desktop} {
    &:hover {
      border-color: $downy;
    }
  }

  @media #{$tablet-and-desktop} {
    margin-bottom: 26px;

    &:active {
      border-color: $downy;
    }
  }

  &:focus {
    border-color: $downy;
  }
}

.order__checkbox-label, .order__radio-label {
  display: block;

  margin-bottom: 42px;
  padding-left: 64px;

  @include font(17px, 18px, bold);
}

.order__radio-label {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;

    display: block;

    width: 36px;
    height: 36px;

    content: "";
    transform: translateY(-50%);

    border: 2px solid $tundora;
    border-radius: 50%;
  }

  @media #{$desktop} {
    &:hover {
      &::before {
        border-color: $downy;
      }
    }
  }

  @media #{$tablet-and-desktop} {
    margin-bottom: 26px;
    padding-left: 82px;

    &::before {
      width: 48px;
      height: 48px;
    }

    &:active {
      &::before {
        border-color: $silver;
      }
    }
  }
}

.order__radio:checked ~ .order__radio-label {
  &::after {
    position: absolute;
    top: 50%;
    left: 12px;

    display: block;

    width: 16px;
    height: 16px;

    content: "";
    transform: translateY(-50%);

    border-radius: 50%;
    background-color: $downy;
  }

  @media #{$tablet-and-desktop} {
    &::after {
      left: 15px;

      width: 22px;
      height: 22px;
    }
  }
}

.order__checkbox-label {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;

    display: block;

    width: 36px;
    height: 36px;

    content: "";
    transform: translateY(-50%);

    border: 2px solid $tundora;
  }

  @media #{$desktop} {
    &:hover {
      &::before {
        border-color: $downy;
      }
    }
  }

  @media #{$tablet-and-desktop} {
    width: 180px;
    margin-bottom: 24px;
    padding-left: 82px;

    &::before {
      width: 48px;
      height: 48px;
    }

    &:active {
      &::before {
        border-color: $silver;
      }
    }
  }
}

.order__checkbox:checked ~ .order__checkbox-label {
  &::after {
    position: absolute;
    bottom: 0;
    left: 15px;

    display: block;

    width: 8px;
    height: 20px;

    content: "";
    transform: rotate(45deg);

    border: 2px solid $thunder;
    border-top: none;
    border-left: none;
  }

  @media #{$tablet-and-desktop} {
    &::after {
      bottom: 16px;
      left: 18px;

      width: 15px;
      height: 26px;
    }
  }
}

.order__block {
  @media #{$tablet} {
    padding: 50px 50px 24px 225px;
  }

  @media #{$desktop} {
    padding: 50px 225px 24px;
  }

  @media #{$tablet-and-desktop} {
    &--highlight {
      background-color: $seashell;
    }

    &--highlight .order__input {
      background-color: $seashell;
    }

    &--name .order__item {
      display: flex;
      flex-direction: row;

      align-items: baseline;
    }

    &--name .order__subtitle {
      padding-right: 24px;
    }

    &--colors {
      padding-right: 0;
    }

    &--colors .order__item {
      display: inline-flex;
    }

    &--tel {
      padding-bottom: 0;
    }

    &--mail {
      padding-top: 0;
    }
  }
}

.order__radio-label, .order__checkbox-label, .order__subtitle {
  @media #{$tablet-and-desktop} {
    @include font(19px, 52px, bold);
  }
}

.order__wrapper {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  @media #{$tablet} {
    padding: 0 50px;
  }

  @media #{$desktop} {
    padding: 0 225px;
  }

  @media #{$tablet-and-desktop} {
    flex-direction: row;
  }
}

.order__note {
  margin-bottom: 31px;

  display: block;

  color: $tundora;

  @include font(14px, 16px);

  @media #{$desktop} {
    width: 350px;

    text-align: right;
  }

  @media #{$tablet-and-desktop} {
    @include font(17px, 30px);
  }
}

.order__btn {
  margin-bottom: 55px;

  @media #{$tablet-and-desktop} {
    width: 230px;

    order: -1;
  }
}

.order__item {
  position: relative;
}

.order__icon-phone {
  position: absolute;
  right: 8px;
  bottom: 14px;

  width: 25px;
  height: 24px;

  fill: $silver;
}

.order__icon-mail {
  position: absolute;
  right: 4px;
  bottom: 9px;

  width: 32px;
  height: 32px;

  fill: $silver;
}
