.preview {
  display: flex;
  flex-direction: column;

  padding: 0 30px;

  @media #{$tablet-and-desktop} {
    padding: 0 50px;

    flex-flow: row wrap;
    justify-content: space-between;
  }

  @media #{$desktop} {
    padding-left: 225px;
  }
}

.preview__title {
  margin-top: 27px;
  margin-bottom: 7px;

  @include font(25px, 30px, bold);

  @media #{$tablet} {
    position: relative;

    width: 100%;
    margin-top: 46px;
    margin-bottom: 61px;

    @include font(43px, 50px, bold);
  }

  @media #{$desktop} {
    position: absolute;

    overflow: hidden;

    width: 875px;
    margin-top: 123px;
    margin-bottom: 51px;

    white-space: nowrap;
    text-overflow: ellipsis;

    @include font(53px, 57px, bold);
  }
}

.preview__subtitle {
  margin-bottom: 5px;

  text-transform: uppercase;

  color: $downy;

  @include font(17px, 16px, bold);

  @media #{$tablet} {
    right: 0;

  }

  @media #{$desktop} {
    left: -130px;

    white-space: normal;
  }

  @media #{$tablet-and-desktop} {
    position: absolute;
    top: 50%;

    width: 75px;

    transform: translateY(-50%);
    text-align: center;
  }
}

.preview__block {
  margin-bottom: 8px;

  color: $tundora;

  @include font(15px, 24px);
}

.preview__table {
  width: 260px;
  margin-bottom: 28px;

  color: $tundora;
  border-collapse: collapse;

  @include font(15px, 20px);
}

.preview__row {
  border-bottom: 1px solid $gallery;
}

.preview__cell {
  &--left {
    width: 98px;
    min-height: 37px;
  }
}

.preview__image {
  margin-bottom: 26px;
}

.preview__price {
  text-align: center;

  color: $tundora;

  @include font(17px, 24px, bold);

  margin-bottom: 28px;
}

.preview__btn {
  margin-bottom: 35px;
}

@media #{$tablet} {
  .preview__image {
    box-sizing: border-box;
    width: 333px;
    height: 404px;
    padding-left: 333px;

    background: $seashell;
  }

  .preview__wrapper {
    display: flex;
    flex-direction: column;

    width: 292px;
    min-height: 404px;
    margin-bottom: 52px;

    justify-content: space-between;
  }

  .preview__row {
    min-height: 40px;
  }

  .preview__price {
    display: block;

    text-align: center;
  }

  .preview__table {
    width: 100%;
  }

  .preview__row {
    height: 40px;
  }

  .preview__image, .preview__btn {
    margin: 0;
  }
}

@media #{$desktop} {
  .preview__image {
    box-sizing: border-box;
    width: 525px;
    height: 636px;
    padding-left: 525px;
    margin-top: 73px;

    background: $seashell;
  }

  .preview__wrapper {
    display: flex;
    flex-direction: column;

    width: 292px;
    height: 478px;
    margin-top: 231px;
    margin-bottom: 73px;

    justify-content: space-between;
  }

  .preview__price {
    margin-top: auto;

    text-align: center;
  }

  .preview__table {
    width: 100%;
  }

  .preview__row {
    height: 40px;
  }

  .preview__btn {
    margin: 0;
  }
}
