.preview {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 0 30px;

  @media #{$tablet-and-desktop} {
    padding: 0 50px;

    flex-flow: row wrap;
    justify-content: space-between;
  }

  @media #{$desktop} {
    padding-left: 225px;
  }
}

.preview__title {
  margin-top: 27px;
  margin-bottom: 17px;

  @include font(25px, 30px, bold);

  @media #{$tablet} {
    position: relative;

    width: 100%;
    margin-top: 36px;
    margin-bottom: 56px;

    @include font(43px, 50px, bold);
  }

  @media #{$desktop} {
    position: absolute;

    width: 875px;
    margin-top: 107px;

    @include font(53px, 57px, bold);
  }
}

.preview__subtitle {
  margin-bottom: 5px;

  text-transform: uppercase;

  color: $downy;

  @include font(17px, 16px, bold);

  @media #{$tablet-and-desktop} {
    position: absolute;
    top: 50%;

    width: 75px;

    transform: translateY(-50%);
    text-align: center;
  }

  @media #{$tablet} {
    top: 12px;
    right: 25px;

    transform: none;
  }

  @media #{$desktop} {
    left: -130px;
  }
}

.preview__img {
  width: 260px;
  height: 315px;
  margin-bottom: 26px;

  position: absolute;
  bottom: 135px;

  @media #{$tablet} {
    position: static;

    width: 333px;
    height: 404px;
    margin: 0;

    background: $seashell;
  }

  @media #{$desktop} {
    position: static;

    width: 525px;
    height: 636px;
    margin-top: 55px;

    background: $seashell;
  }
}

.preview__wrapper {
  @media #{$tablet} {
    min-height: 404px;
    margin-bottom: 52px;
  }

  @media #{$tablet-and-desktop} {
    display: flex;
    flex-direction: column;

    width: 292px;

    justify-content: space-between;
  }

  @media #{$desktop} {
    height: 478px;
    margin-top: 231px;
    margin-bottom: 55px;

    justify-content: flex-start;
  }
}

.preview__block {
  margin-bottom: 19px;

  color: $tundora;

  @include font(15px, 24px);

  @media #{$tablet-and-desktop} {
    margin-top: -10px;

    @include font(17px, 30px);
  }

  @media #{$tablet} {
    margin-bottom: 30px;
  }

  @media #{$desktop} {
    margin-top: -18px;
    margin-bottom: 48px;
  }
}

.preview__table {
  width: 260px;
  margin-bottom: 28px;

  color: $tundora;
  border-collapse: collapse;

  @include font(15px, 20px);


  @media #{$tablet-and-desktop} {
    width: 100%;
  }

  @media #{$tablet} {
    margin-bottom: 50px;
  }

  @media #{$desktop} {
    margin-bottom: 108px;
  }
}

.preview__row {
  border-bottom: 1px solid $gallery;

  height: 40px;
}

.preview__cell {
  &--left {
    width: 94px;
    min-height: 37px;
  }
}

.preview__price {
  padding-top: 336px;

  text-align: center;

  color: $tundora;

  @include font(17px, 24px, bold);

  margin-bottom: 28px;

  @media #{$tablet-and-desktop} {
    padding-top: 0;

    @include font(20px, 24px, bold);
  }

  @media #{$desktop} {
    margin-bottom: 35px;
  }
}

.preview__btn {
  margin-bottom: 35px;

  @media #{$tablet-and-desktop} {
    margin: 0;
  }
}
