.process {
  display: flex;
  flex-direction: column;

  padding: 0 30px;

  @media #{$desktop} {
    flex-direction: row;
  }

  @media #{$tablet-and-desktop} {
    position: relative;

    padding: 0 50px;
  }
}

.process__video {
  position: relative;

  @media #{$tablet-and-desktop} {
    margin-top: 54px;
  }
}

.process__icon-video {
  position: absolute;
  top: 28px;
  left: 33px;

  width: 32px;
  height: 32px;

  fill: $downy;

  @media #{$tablet} {
    top: 18px;
    left: 25px;
  }

  @media #{$desktop} {
    top: 46px;
    left: 90px;
  }
}

.process__play {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100px;
  height: 76px;

  content: "";
  transform: translate(-50%, -50%);

  border: none;
  background: url("../img/icon-play.svg");

  font-size: 0;

  @media #{$desktop} {
    top: calc(50% - 30px);
    left: calc(50% + 9px);

    cursor: pointer;

    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.process__img {
  width: 260px;
  height: 150px;

  background: $seashell;

  @media #{$tablet} {
    width: 668px;
  }

  @media #{$desktop} {
    width: 683px;
  }

  @media #{$tablet-and-desktop} {
    height: 455px;
  }
}

.process__wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 58px;
  padding: 33px;
  padding-bottom: 0;

  border: 1px solid $gallery;

  @media #{$tablet} {
    min-height: 167px;
    padding: 40px;
    margin-bottom: 64px;
  }

  @media #{$desktop} {
    box-sizing: border-box;
    width: 367px;
    margin-top: 54px;
    padding: 59px;
    padding-left: 79px;
  }

  @media #{$tablet-and-desktop} {
    padding-bottom: 0;
  }
}

.process__title {
  position: relative;

  margin-top: 30px;
  padding: 23px;
  padding-left: 89px;

  border: 1px solid $gallery;

  @include font(17px, 24px, bold);

  @media #{$tablet} {
    top: 494px;
    left: 67px;

    width: 668px;
  }

  @media #{$desktop} {
    top: 23px;
    right: 116px;

    width: 200px;
    padding-top: 100px;
  }

  @media #{$tablet-and-desktop} {
    position: absolute;

    border: none;

    @include font(20px, 24px, bold);
  }
}

.process__desc {
  margin-top: -5px;
  margin-bottom: 23px;

  color: $tundora;

  @include font(13px, 24px, normal);

  @media #{$tablet} {
    margin-top: 54px;
    margin-bottom: 34px;

    @include font(15px, 30px);
  }

  @media #{$desktop} {
    margin-top: 120px;
    margin-bottom: 45px;

    @include font(15px, 30px);
  }
}

.process__btn {
  margin-bottom: 32px;

  @media #{$tablet} {
      margin-bottom: 45px;
  }

  @media #{$desktop} {
      margin-bottom: 57px;
  }
}
