.process {
  display: flex;
  flex-direction: column;

  padding: 0 30px;

  @media #{$desktop} {
    flex-direction: row;
  }

  @media #{$tablet-and-desktop} {
    position: relative;

    padding: 0 50px;
  }
}

.process__video {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 102px;
    height: 78px;

    content: "";
    transform: translate(-50%, -50%);

    background: url("../img/icon-play.svg");
  }

  @media #{$tablet-and-desktop} {
    margin-top: 54px;
  }
}

.process__img {
  width: 260px;
  height: 150px;

  background: $seashell;

  @media #{$tablet} {
    width: 668px;
  }

  @media #{$desktop} {
    width: 683px;
  }

  @media #{$tablet-and-desktop} {
    height: 455px;
  }
}

.process__wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 58px;
  padding: 30px;
  padding-bottom: 0;

  border: 1px solid $gallery;

  @media #{$tablet} {
    min-height: 167px;
    padding: 40px;
  }

  @media #{$desktop} {
    box-sizing: border-box;
    width: 367px;
    margin-top: 54px;
    padding: 59px;
    padding-left: 79px;
  }

  @media #{$tablet-and-desktop} {
    padding-bottom: 0;
  }
}

.process__title {
  margin-top: 30px;
  padding: 30px;
  padding-left: 68px;

  border: 1px solid $gallery;

  @include font(17px, 24px, bold);

  @media #{$tablet} {
    top: 480px;
    left: 89px;

    width: 668px;
  }

  @media #{$desktop} {
    top: 23px;
    right: 108px;

    width: 200px;
    padding-top: 100px;
  }

  @media #{$tablet-and-desktop} {
    position: absolute;

    border: none;

    @include font(20px, 24px, bold);
  }
}

.process__desc {
  margin-bottom: 25px;

  color: $tundora;

  @include font(13px, 24px, normal);

  @media #{$tablet} {
    margin-top: 46px;

    @include font(15px, 30px);
  }

  @media #{$desktop} {
    margin-top: 107px;
    margin-bottom: 56px;

    @include font(15px, 30px);
  }
}

.process__btn {
  margin-bottom: 32px;

  @media #{$tablet} {
      margin-bottom: 45px;
  }

  @media #{$desktop} {
      margin-bottom: 59px;
  }
}
