.review {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 0 30px;

  @media #{$tablet-and-desktop} {
    padding: 0 50px;

    background: url("../img/review@1x.jpg") no-repeat center left;
  }

  @media #{$high-dpi} {
    background: url("../img/review@2x.jpg") no-repeat center left;
    background-size: 350px 457px;
  }

  @media #{$desktop} {
    padding-left: 225px;
  }
}

.review__title {
  @include font(25px, 30px, bold);

  margin-bottom: 24px;

  @media #{$tablet} {
    width: 450px;
    margin-top: 101px;
    margin-bottom: 49px;

    @include font(43px, 50px, bold);
  }

  @media #{$desktop} {
    margin-top: 101px;
    margin-bottom: 49px;

    @include font(43px, 50px, bold);
  }
}

.review__block {
  @media #{$tablet-and-desktop} {
    display: flex;

    flex-flow: row wrap;
    justify-content: space-between;
  }

  @media #{$tablet} {
    margin-bottom: 115px;
  }
  @media #{$desktop} {
    margin-bottom: 163px;
  }
}

.review__text {
  margin-bottom: 26px;

  color: $tundora;

  @include font(15px, 30px);

  @media #{$tablet-and-desktop} {
    width: 100%;
    margin-bottom: 59px;

    @include font(17px, 30px);
  }
}

.review__name{
  margin-bottom: 3px;

  font-style: normal;

  @include font(18px, 24px, bold);


  @media #{$tablet-and-desktop} {
    @include font(17px, 24px, bold);
  }
}

.review__twitter {
  display: block;

  margin-bottom: 30px;

  font-style: normal;

  @media #{$tablet-and-desktop} {
    margin: 0;
  }
}

.review__link {
  text-decoration: none;

  color: $tundora;

  @include font(18px, 30px);

  @media #{$desktop} {
    &:hover {
      color: $downy;
    }
  }

  &:active {
    color: $morning-glory;
  }
}

.review__arrows {
  font-size: 0;
}

.review__arrow {
  position: relative;

  display: inline-block;
  vertical-align: baseline;

  box-sizing: border-box;
  width: 130px;
  height: 52px;
  margin-bottom: 38px;

  cursor: pointer;

  border: 1px solid $gallery;
  outline: none;
  background-color: $white;

  font-size: 0;

  &--next {
    border-left: none;
  }

  @media #{$tablet-and-desktop} {
    width: 84px;
    margin: 0;

    border: none;
  }

  @media #{$desktop} {
    &:hover {
      .review__icon-left-arrow,
      .review__icon-right-arrow {
        fill: rgba($black, 0.6);
      }
    }
  }

  &:active {
    .review__icon-left-arrow,
    .review__icon-right-arrow {
      fill: rgba($black, 0.3);
    }
  }
}

.review__icon-left-arrow {
  width: 50px;
  height: 26px;
}

.review__icon-right-arrow {
  width: 50px;
  height: 26px;
}

.review__btn {
  margin-bottom: 44px;

  @media #{$tablet-and-desktop} {
    position: absolute;
    top: 101px;
    right: 50px;

    width: 175px;
  }
}
