.review {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 0 30px;
}

.review__title {
  @include font(25px, 30px, bold);

  margin-bottom: 24px;
}

.review__text {
  margin-bottom: 26px;

  color: $tundora;

  @include font(15px, 30px);
}

.review__name{
  margin-bottom: 3px;

  font-style: normal;

  @include font(18px, 24px, bold);
}

.review__twitter {
  display: block;

  margin-bottom: 30px;

  font-style: normal;
}

.review__link {
  text-decoration: none;

  color: $tundora;

  @include font(18px, 30px);
}

.review__arrows {
  font-size: 0;
}

.review__arrow {
  position: relative;

  display: inline-block;
  vertical-align: baseline;

  box-sizing: border-box;
  width: 130px;
  height: 52px;
  margin-bottom: 38px;

  cursor: pointer;

  border: 1px solid $gallery;
  outline: none;
  background-color: $white;

  font-size: 0;

  &--prev {
    &::before {
      @include icon(50px, 26px, "../img/icon-left-arrow.svg");
    }
  }

  &--next {
    border-left: none;

    &::before {
      @include icon(50px, 26px, "../img/icon-right-arrow.svg");
    }
  }
}

.review__btn {
  margin-bottom: 44px;
}

@media #{$tablet} {
  .review {
    padding: 0 50px;
  }

  .review__title {
    width: 450px;
    margin-top: 101px;
    margin-bottom: 49px;

    @include font(43px, 50px, bold);
  }

  .review__block {
    display: flex;

    flex-flow: row wrap;
    justify-content: space-between;

    margin-bottom: 115px;
  }

  .review__text {
    @include font(17px, 30px);

    width: 100%;
    margin-bottom: 59px;
  }

  .review__name {
    @include font(17px, 24px, bold);
  }

  .review__twitter {
    margin: 0;
  }

  .review__footer {
    width: 334px;
  }

  .review__arrows {
    width: 168px;
  }

  .review__arrow {
    width: 84px;
    margin: 0;

    border: none;
  }

  .review__btn {
    position: absolute;
    top: 101px;
    right: 50px;

    width: 175px;
  }
}

@media #{$desktop} {
  .review {
    padding: 0 50px;
    padding-left: 225px;
  }

  .review__title {
    margin-top: 101px;
    margin-bottom: 49px;

    @include font(43px, 50px, bold);
  }

  .review__block {
    display: flex;

    flex-flow: row wrap;
    justify-content: space-between;

    margin-bottom: 163px;
  }

  .review__text {
    width: 100%;
    margin-bottom: 59px;

    @include font(17px, 30px);
  }

  .review__name {
    @include font(17px, 24px, bold);
  }

  .review__twitter {
    margin: 0;
  }

  .review__arrows {
    width: 168px;
  }

  .review__arrow {
    width: 84px;
    margin: 0;

    border: none;
  }

  .review__btn {
    position: absolute;
    top: 101px;
    right: 50px;

    width: 175px;
  }
}
