.social {
  position: relative;

  min-height: 81px;

  text-align: center;

  background-color: $seashell;

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 80%;
    height: 1px;

    content: "";
    transform: translateX(-50%);

    background-color: $silver;
  }

  @media #{$tablet} {
    width: 403px;
  }

  @media #{$desktop} {
    width: 593px;
  }

  @media #{$tablet-and-desktop} {
    min-height: 143px;
    padding-left: 50px;

    text-align: right;

    &::after {
      height: 0;
    }
  }
}

.social__item {
  display: inline-block;

  margin-top: 24px;
  margin-right: 41px;

  vertical-align: middle;

  font-size: 0;

  &--last {
    margin-right: 0;
  }

  @media #{$tablet-and-desktop} {
    margin-top: 57px;
  }

  @media #{$desktop} {
    &:hover {
      .social__icon-insta,
      .social__icon-fb,
      .social__icon-twitter {
        fill: $downy;
      }
    }

    &:active {
      .social__icon-insta,
      .social__icon-fb,
      .social__icon-twitter {
        fill: rgba($puerto-rico, 0.3);
      }
    }
  }
}

.social__icon-insta {
  width: 22px;
  height: 21px;
}

.social__icon-fb {
  width: 15px;
  height: 28px;
}

.social__icon-twitter {
  width: 23px;
  height: 20px;
}

.social__logo-footer {
  display: none;

  @media #{$tablet-and-desktop} {
    position: absolute;

    display: block;

    width: 102px;
    height: 34px;
    margin-top: 46px;
  }
}

.social__link {
  @media #{$desktop} {
    &:hover {
      .social__logo-footer {
        fill: $downy;
      }
    }

    &:active {
      .social__logo-footer {
        fill: rgba($puerto-rico, 0.3);
      }
    }

    &--current {
      &:hover, &:active {
        .social__logo-footer {
          fill: $black;
        }
      }
    }
  }

  @media #{$tablet} {
    &:active {
      .social__logo-footer {
        fill: rgba($puerto-rico, 0.3);
      }
    }

    &--current {
      &:active {
        .social__logo-footer {
          fill: $black;
        }
      }
    }
  }
}
