.social {
  position: relative;

  min-height: 81px;

  text-align: center;

  background-color: $seashell;

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 80%;
    height: 1px;

    content: "";
    transform: translateX(-50%);

    background-color: $silver;
  }
}

.social__item {
  display: inline-block;

  margin-top: 24px;
  margin-right: 41px;

  vertical-align: middle;

  font-size: 0;

  &--inst {
    width: 22px;
    height: 21px;

    background-image: url("../img/icon-insta.svg");
  }

  &--fb {
    width: 15px;
    height: 28px;

    background-image: url("../img/icon-fb.svg");
  }

  &--twitter {
    width: 23px;
    height: 20px;
    margin-right: 0;

    background-image: url("../img/icon-twitter.svg");
  }
}

@media #{$tablet} {
  .social {
    position: relative;

    width: 417px;
    min-height: 143px;
    padding-left: 50px;

    text-align: right;

    &::before {
      position: absolute;

      display: block;

      width: 86px;
      height: 35px;
      margin-top: 57px;

      content: "";

      background-image: url("../img/logo-mobile.svg");
    }

    &::after {
      height: 0;
    }
  }

  .social__item {
    margin-top: 57px;
  }
}

@media #{$desktop} {
  .social {
    position: relative;

    width: 593px;
    min-height: 143px;
    padding-left: 50px;

    text-align: right;

    &::before {
      position: absolute;

      display: block;

      width: 86px;
      height: 35px;
      margin-top: 57px;

      content: "";

      background-image: url("../img/logo-mobile.svg");
    }

    &::after {
      height: 0;
    }
  }

  .social__item {
    margin-top: 57px;
  }
}
